In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.graphics.tsaplots as sgt 
import statsmodels.tsa.stattools as sts 
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.seasonal import seasonal_decompose

plt.rcParams["figure.figsize"] = 10, 5

In [2]:
def to_float(v):
    try:
        return float(v)
    except:
        pass

ftse = pd.read_csv("/data/FTSE.csv")
ftse.index = pd.to_datetime(ftse.Date)
ftse = ftse[["Adj Close"]]
ftse.columns = ["Close"]
ftse.Close = ftse.Close.apply(to_float)
ftse = ftse.dropna()
ftse = ftse.sort_index().asfreq(freq='B', method = "ffill")
ftse.head()

             Close
Date
2000-01-04  6665.9
2000-01-05  6535.9
2000-01-06  6447.2
2000-01-07  6504.8
2000-01-10  6607.7